@{
    ViewBag.Title = "Create Gas Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.Identity.IsAuthenticated && (User.IsInRole("Pre-sales") || User.IsInRole("Controls")))
{
    <div class="gas-create-container">
        <h2 class="page-heading">Create Gas Contract</h2>

        <form id="createGasForm" method="post" novalidate>
            @Html.AntiForgeryToken()

            <!-- SECTION 1: Brokerage Details -->
            <div class="form-section">
                <h4>Brokerage Details</h4>
                <div class="row gx-4 gy-3 align-items-end">
                    <div class="col-md-4">
                        <label for="brokerage" class="form-label required">Brokerage</label>
                        <select id="brokerage" class="form-select dropdown-arrow" required title="Please Select Brokerage!">
                            <option value="">Select Brokerage</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="ofgemId" class="form-label">Ofgem ID</label>
                        <input type="text" id="ofgemId" class="form-control" readonly />
                    </div>
                </div>
            </div>

            <!-- SECTION 2: Site Details -->
            <div class="form-section">
                <h4>Site Details</h4>
                <div class="row gx-4 gy-3 align-items-end">
                    <div class="col-md-4">
                        <label for="department" class="form-label required">Department</label>
                        <select id="department" class="form-select dropdown-arrow" required title="Please Select Department!" readonly></select>
                    </div>
                    
                    <!-- In House Department Fields -->
                    <div class="col-md-4" id="inHouseFields" style="display: none;">
                        <label for="closer" class="form-label">Closer</label>
                        <select id="closer" class="form-select dropdown-arrow" title="Please Select Closer!">
                            <option value="">Select Closer</option>
                        </select>
                    </div>
                    
                    <!-- Brokers Department Fields -->
                    <div class="col-md-4" id="brokersFields" style="display: none;">
                        <label for="brokerageStaff" class="form-label">Brokerage Staff</label>
                        <select id="brokerageStaff" class="form-select dropdown-arrow" title="Please Select Brokerage Staff!">
                            <option value="">Select Brokerage Staff</option>
                        </select>
                    </div>
                    
                    <!-- Introducers Department Fields -->
                    <div class="col-md-4" id="introducersFields" style="display: none;">
                        <label for="introducer" class="form-label">Introducer</label>
                        <select id="introducer" class="form-select dropdown-arrow" title="Please Select Introducer!">
                            <option value="">Select Introducer</option>
                        </select>
                    </div>
                    
                    <div class="col-md-4">
                        <label for="source" class="form-label required">Source</label>
                        <select id="source" class="form-select dropdown-arrow" required title="Please Select Source!"></select>
                    </div>
                    
                    <!-- Data Source Fields -->
                    <div class="col-md-4" id="dataSourceFields" style="display: none;">
                        <label for="collaboration" class="form-label">Collaboration</label>
                        <select id="collaboration" class="form-select dropdown-arrow" title="Please Select Collaboration!">
                            <option value="">Select Collaboration</option>
                            <option value="Lead Generator">Lead Generator</option>
                        </select>
                    </div>
                    
                    <div class="col-md-4" id="leadGeneratorField" style="display: none;">
                        <label for="leadGenerator" class="form-label">Lead Generator</label>
                        <select id="leadGenerator" class="form-select dropdown-arrow" title="Please Select Lead Generator!" disabled>
                            <option value="">Select Lead Generator</option>
                        </select>
                    </div>
                    
                    <!-- Referral Partners Source Fields -->
                    <div class="col-md-4" id="referralPartnerField" style="display: none;">
                        <label for="referralPartner" class="form-label">Referral Partner</label>
                        <select id="referralPartner" class="form-select dropdown-arrow" title="Please Select Referral Partner!">
                            <option value="">Select Referral Partner</option>
                        </select>
                    </div>
                    
                    <div class="col-md-4" id="subReferralPartnerField" style="display: none;">
                        <label for="subReferralPartner" class="form-label">Sub Referral Partner</label>
                        <select id="subReferralPartner" class="form-select dropdown-arrow" title="Please Select Sub Referral Partner!">
                            <option value="">Select Sub Referral Partner</option>
                        </select>
                    </div>
                    
                    <!-- Sub Broker Source Fields -->
                    <div class="col-md-4" id="subBrokerageField" style="display: none;">
                        <label for="subBrokerage" class="form-label">Sub Brokerage</label>
                        <select id="subBrokerage" class="form-select dropdown-arrow" title="Please Select Sub Brokerage!">
                            <option value="">Select Sub Brokerage</option>
                        </select>
                    </div>
                    
                    <!-- Sub Introducer Source Fields -->
                    <div class="col-md-4" id="subIntroducerField" style="display: none;">
                        <label for="subIntroducer" class="form-label">Sub Introducer</label>
                        <select id="subIntroducer" class="form-select dropdown-arrow" title="Please Select Sub Introducer!">
                            <option value="">Select Sub Introducer</option>
                        </select>
                    </div>
                    
                    <div class="col-md-4">
                        <label for="salesType" class="form-label required">Cobana Sales Type</label>
                        <select id="salesType" class="form-select dropdown-arrow" required title="Please Select Sales Type!"></select>
                    </div>
                    <div class="col-md-4">
                        <label for="salesTypeStatus" class="form-label required">Cobana Sales Type Status</label>
                        <select id="salesTypeStatus" class="form-select dropdown-arrow" required title="Please Select Sales Type Status! or N/A"></select>
                    </div>
                </div>
            </div>

            <!-- Supply & Product -->
            <div class="form-section">
                <h4>Supply & Product Information</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4">
                        <label class="form-label required" for="mprn">MPRN</label>
                        <div class="position-relative">
                            <input type="text" id="mprn" class="form-control" required
                                   title="Please enter 6–10 digit MPRN or N/A"
                                   pattern="(^\d{6,10}$)|(^N\/A$)" maxlength="10" autocomplete="off" />
                            <div id="mprnLoader" class="spinner-border text-primary small-loader" role="status" style="display: none;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label required" for="currentSupplier">Current Supplier</label>
                        <input type="text" id="currentSupplier" class="form-control" required autocomplete="off" title="Please Insert Current Supplier" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label required" for="supplierSelect">Supplier</label>
                        <select id="supplierSelect" class="form-select dropdown-arrow" required title="Please Select the Supplier"></select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label required" for="productSelect">Product</label>
                        <select id="productSelect" class="form-select dropdown-arrow" required title="Please Select the Product">
                            <option value="">Select Product</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label required" for="supplierCommsType">Supplier Comms Type</label>
                        <select id="supplierCommsType" class="form-select dropdown-arrow" required title="Please Select Supplier Comms Type"></select>
                    </div>
                </div>
            </div>

            <!-- Business Location -->
            <div class="form-section">
                <h4>Business Location</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4"><label for="businessName" class="form-label required">Business Name</label><input type="text" id="businessName" class="form-control" required title="Please Insert Business Name" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="customerName" class="form-label required">Customer Name</label><input type="text" id="customerName" class="form-control" required title="Please Insert Customer Name" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="businessDoorNumber" class="form-label required">Business Door Number</label><input type="text" id="businessDoorNumber" class="form-control" required title="Please Insert Door Number" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="businessHouseName" class="form-label">Business House Name</label><input type="text" id="businessHouseName" class="form-control" title="Please Insert House Name" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="businessStreet" class="form-label required">Business Street/Road</label><input type="text" id="businessStreet" class="form-control" required title="Please Insert Street" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="businessTown" class="form-label required">Business Town</label><input type="text" id="businessTown" class="form-control" required title="Please Insert Town" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="businessCounty" class="form-label">Business County</label><input type="text" id="businessCounty" class="form-control" title="Please Insert County" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="postCode" class="form-label required">Post Code</label><input type="text" id="postCode" class="form-control" required title="Please Insert Post Code" autocomplete="off" /></div>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="form-section">
                <h4>Contact Information</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4"><label class="form-label required" for="phoneNumber1">Phone Number</label><input type="text" id="phoneNumber1" class="form-control" required title="Phone number must be 11 digits" pattern="^\d{11}$" maxlength="11" autocomplete="off" /></div>
                    <div class="col-md-4"><label class="form-label" for="phoneNumber2">Secondary Phone Number</label><input type="text" id="phoneNumber2" class="form-control" title="Enter 11 digits or 'N/A'" pattern="^(\d{11}|N\/A)$" maxlength="11" autocomplete="off" /></div>
                    <div class="col-md-4"><label class="form-label required" for="emailAddress">Email Address</label><input type="email" id="emailAddress" class="form-control" required title="Please Insert Valid Email" autocomplete="off" /></div>
                </div>
            </div>

            <!-- Contract Timeline -->
            <div class="form-section">
                <h4>Contract Timeline</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4"><label for="inputDate" class="form-label">Input Date</label><input type="text" id="inputDate" class="form-control" readonly /></div>
                    <div class="col-md-4"><label for="initialStartDate" class="form-label required">Initial Start Date</label><input type="date" id="initialStartDate" class="form-control" required title="Please Select Initial Start Date" autocomplete="off" /></div>
                    <div class="col-md-4"><label for="duration" class="form-label required">Duration (Years)</label><input type="text" id="duration" class="form-control" required min="1" max="10" maxlength="2" title="Duration must be between 1 and 10" autocomplete="off" /></div>
                </div>
            </div>

            <!-- Pricing -->
            <div class="form-section">
                <h4>Pricing & Usage</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4"><label class="form-label required" for="uplift">Uplift</label><input type="text" id="uplift" class="form-control" required title="Please Insert Uplift" autocomplete="off" /></div>
                    <div class="col-md-4"><label class="form-label required" for="inputEAC">Input EAC</label><input type="text" id="inputEAC" class="form-control" required title="Please Insert Input EAC" autocomplete="off" /></div>
                    <div class="col-md-4"><label class="form-label required" for="unitRate">Unit Rate</label><input type="text" id="unitRate" class="form-control" required title="Please Insert Unit Rate" autocomplete="off" /></div>
                    <div class="col-md-4"><label class="form-label required" for="unitRate">Other Rate</label><input type="text" id="otherRate" class="form-control" required title="Please Insert Other Rate" autocomplete="off" /></div>
                    <div class="col-md-4"><label class="form-label required" for="standingCharge">Standing Charge</label><input type="text" id="standingCharge" class="form-control" required title="Please Insert Standing Charge" autocomplete="off" /></div>
                </div>
            </div>

            <!-- Banking -->
            <div class="form-section">
                <h4>Banking Details</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4">
                        <label class="form-label required" for="sortCode">Sort Code</label>
                        <input type="text" id="sortCode" class="form-control" required title="Sort Code must be exactly 6 digits" pattern="^\d{6}$" maxlength="6" inputmode="numeric" autocomplete="off" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label required" for="accountNumber">Account Number</label>
                        <div class="position-relative">
                            <input type="text" id="accountNumber" class="form-control" required title="Please enter an 8-digit account number" pattern="^\d{8}$" maxlength="8" autocomplete="off" />
                            <div id="accountLoader" class="spinner-border text-primary small-loader" role="status" style="display: none;"><span class="visually-hidden">Loading...</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Workflow -->
            <div class="form-section">
                <h4>Workflow & System Fields</h4>
                <div class="row gx-4 gy-3">
                    <div class="col-md-4"><label class="form-label required" for="preSalesStatus">PreSales Status</label><select id="preSalesStatus" class="form-select dropdown-arrow" required title="Please Select PreSales Status"></select></div>
                    <div class="col-md-4"><label class="form-label" for="preSalesFollowUpDate">PreSales Follow-up Date</label><input type="date" id="preSalesFollowUpDate" class="form-control" title="Select PreSales follow-up date" autocomplete="off" /></div>
                    <div class="col-md-4 ps-md-2"><label class="form-label" for="emProcessor">EM Processor</label><input type="text" id="emProcessor" class="form-control" readonly /></div>

                    <div class="col-md-4 mt-3 mb-2"></div>
                    <div class="w-100 mt-3"></div>

                    <div class="row gx-4 gy-3 mt-1 mb-2">
                        <div class="col-md-4"><div class="form-check"><input type="checkbox" class="form-check-input" id="contractChecked" /><label class="form-check-label" for="contractChecked">Contract Checked</label></div></div>
                        <div class="col-md-4"><div class="form-check"><input type="checkbox" class="form-check-input" id="contractAudited" /><label class="form-check-label" for="contractAudited">Contract Audited</label></div></div>
                        <div class="col-md-4"><div class="form-check"><input type="checkbox" class="form-check-input" id="terminated" /><label class="form-check-label" for="terminated">Terminate</label></div></div>
                    </div>

                    <div class="w-100 mt-3"></div>
                    <div class="col-12"><label class="form-label" for="contractNotes">Contract Notes</label><textarea id="contractNotes" class="form-control" rows="3" title="Please insert any contract notes (optional)" autocomplete="off"></textarea></div>
                </div>
            </div>

            <!-- Submit -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Create Contract</button>
            </div>
        </form>
    </div>

    @section styles {
        <link href="~/Content/Gas/CreateGas.css" rel="stylesheet" />
    }

    @section scripts {
        <script src="~/Scripts/Dropdown/dropdowns.js"></script>
        <script src="~/Scripts/Gas/createGas.js"></script>
        <script src="~/Scripts/Brokerage/brokerageManager.js"></script>
        <script>
        $(document).ready(function () {
            var emProcessor = '@(User.Identity?.IsAuthenticated == true ? User.Identity.Name : "Presales Team")';
            $('#emProcessor').val(emProcessor).attr('data-default', emProcessor);
        });
        </script>
    }

    <!-- Duplicate MPRN Modal -->
    <div class="modal fade" id="duplicateMprnModal" tabindex="-1" aria-labelledby="duplicateMprnModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="duplicateMprnModalLabel">⚠ Duplicate MPRN Found</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">This MPRN already exists in our system. Below are the details of existing record(s):</p>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Agent</th>
                                <th>Business Name</th>
                                <th>Customer Name</th>
                                <th>Input Date</th>
                                <th>PreSales Status</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody id="duplicateMprnResultsEdit">
                            <!-- Filled dynamically -->
                        </tbody>
                    </table>
                    <div class="text-end fw-bold"><span id="mprnDuplicateCountEdit"></span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Duplicate Account Modal -->
    <div class="modal fade" id="duplicateAccountModalGas" tabindex="-1" aria-labelledby="duplicateAccountModalGasLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="duplicateAccountModalGasLabel">⚠ Duplicate Account Number Found</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">This account number is already linked to another contract. Please review below:</p>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Agent</th>
                                <th>Business Name</th>
                                <th>Customer Name</th>
                                <th>Input Date</th>
                                <th>PreSales Status</th>
                                <th>Duration</th>
                                <th>Sort Code</th>
                                <th>Account Number</th>
                            </tr>
                        </thead>
                        <tbody id="duplicateAccountResultsEdit">
                            <!-- Filled dynamically -->
                        </tbody>
                    </table>
                    <div class="text-end fw-bold"><span id="accountDuplicateCountEdit"></span></div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="alert alert-danger text-center mt-5">
        <h4>Access Denied</h4>
        <p>You are not authorized to view this page.</p>
    </div>
}