select.form-control {
    height: 45px;
    padding: 0.6rem 0.75rem;
    padding-right: 2rem; /* reserve space for icon */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 20 20'%3E%3Cpath d='M7 7l3 3 3-3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    overflow: hidden; /* prevents right overflow */

}

.select2-results__options {
    max-height: 250px;
    overflow-y: auto;
}

/* Adjust Select2 single select dropdown icon alignment */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}