@model CobanaEnergy.Project.Models.Accounts.MasterDashboard.AccountMasterDashboard.AccountMasterDashboardViewModel

@{
    ViewBag.Title = "AccountMasterDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="account-master-dashboard">
    <div class="account-master-header">Account Master Dashboard</div>

    <div class="filters d-flex flex-wrap gap-4 mb-4 align-items-end">

        <div>
            <label class="form-label" for="contractstatus">Contract Status</label>
            <select id="contractstatus" class="form-select"></select>
        </div>
        <div>
            <label class="form-label" for="paymentStatusAcc">Payment Status</label>
            <select id="paymentStatusAcc" class="form-select"></select>
        </div>
        <div>
            <label for="supplierFilter" class="form-label fw-semibold">Supplier</label>
            @Html.DropDownListFor(m => m.SupplierId, Model.Suppliers, "All Suppliers", new { @class = "form-select", id = "supplierFilter" })
        </div>

        @Html.Partial("_FiltersPartial")

    </div>

    <div class="filters d-flex flex-wrap gap-4 mb-4 align-items-end">
        <div>
            <label for="startDateFilter" class="form-label fw-semibold">Input Date From</label>
            <input type="date" id="startDateFilter" class="form-control" />
        </div>
        <div>
            <label for="endDateFilter" class="form-label fw-semibold">Input Date To</label>
            <input type="date" id="endDateFilter" class="form-control" />
        </div>
    </div>

    <div class="table-container">
        <table id="accountMasterTable" class="table table-bordered table-striped w-100">
            <thead class="table-light">
                <tr>
                    <th>Action</th>
                    <th>Supplier Name</th>
                    <th>Business Name</th>
                    <th>MPXN (MPAN/MPR)</th>
                    <th>Input EAC</th>
                    <th>Supplier EAC</th>
                    <th>Input Date</th>
                    <th>Start Date</th>
                    <th>CED</th>
                    <th>COT Date</th>
                    <th>Contract Status</th>
                    <th>Payment Status</th>
                    <th>Previous Invoice Numbers</th>
                    <th>Accounts Notes</th>
                    <th>Commission Forecast (£)</th>
                    <th>Cobana Due Commission (£)</th>
                    <th>Cobana Paid Commission (£)</th>
                    <th>Cobana Final Reconciliation (£)</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

@section styles {
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
    <link href="~/Content/Accounts/MasterDashboard/accountMasterDashboard.css" rel="stylesheet" />
}

@section scripts {

    <script src="~/Scripts/Dropdown/dropdowns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Scripts/Accounts/MasterDashboard/accountMasterDashboard.js"></script>
}


