
<div>
    <label class="form-label" for="department">Department</label>
    <select id="departmentFilter" class="form-select"></select>
</div>

<!-- Brokerages -->
<div id="brokerage-area" style="display:none;">
    <label>Brokerage</label>
    <select id="brokerageFilter" class="form-select"><option value="">All</option></select>
</div>
<div id="brokerage-staff-area" style="display:none;">
    <label>Brokerage Staff</label>
    <select id="brokerageStaffFilter" class="form-select"><option value="">All</option></select>
</div>
<div id="subbrokerage-area" style="display:none;">
    <label>Sub-Brokerage</label>
    <select id="subBrokerageFilter" class="form-select"><option value="">All</option></select>
</div>

<!-- In-house -->
<div id="inhouse-closer-area" style="display:none;">
    <label>Closer</label>
    <select id="closerFilter" class="form-select"><option value="">All</option></select>
</div>
<div id="leadgen-area" style="display:none;">
    <label>Lead Generator</label>
    <select id="leadGenFilter" class="form-select"><option value="">All</option></select>
</div>
<div id="referral-area" style="display:none;">
    <label>Referral Partner</label>
    <select id="referralFilter" class="form-select"><option value="">All</option></select>
</div>

<div id="sub-referral-area" style="display:none;">
    <label>Sub-Referral Partner</label>
    <select id="subReferralFilter" class="form-select"><option value="">All</option></select>
</div>

<!-- Introducers -->
<div id="introducer-area" style="display:none;">
    <label>Introducer</label>
    <select id="introducerFilter" class="form-select"><option value="">All</option></select>
</div>
<div id="subintroducer-area" style="display:none;">
    <label>Sub-Introducer</label>
    <select id="subIntroducerFilter" class="form-select"><option value="">All</option></select>
</div>



@section styles {
    <link href="~/Content/Common/filter.css" rel="stylesheet" />
}

