@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Server Error";
}
<div class="container mt-5 text-center">
    <h1 class="text-danger">500 - Server Error</h1>
    <p class="lead">Something went wrong. Please try again later.</p>
    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
</div>